RewriteEngine On

	# If an existing asset or directory is requested to to it as it is
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [or]
	RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d 
	RewriteRule ^ - [L]
	
	# If the requested resource doesn't exist, use index.html
	RewriteRule ^ /index.html